$font-family: "Montserrat", sans-serif;

$white: #ffffff;
$black: #000000;

$bg-color: #f9f9f9;
// $bg-color: #f2f2f2;
$font-color: #343434;
$color: #e7e7e7;
$color-hover: #e7e7e7;
$bg-button-color:#e6a93f;
$green: #1e5a32;
$error: #ff0000;
$box-shadow-color: rgba(174, 174, 182, 0.5);


$border-gray: #e5e5e5;
$gray: #d0d0d0;
$mini: 560px;
$mobile-width-only: 561px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1200px;
