.about-us {
  background-color: $white;
}

.about-us__container {
  padding: 35px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr;
    padding: 20px 10px 25px;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 30px;
  }
}

.about-us__title {
  grid-area: 1 / 1 / 2 /-1;
}
