.button {
  min-width: 139px;
  padding: 10px 15px;
  background-color: $bg-button-color;
  box-sizing: border-box;
  color: $white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba($black, 0.25);

  &:hover {
    opacity: 0.9;
  }

  &:active,
  &:focus {
    opacity: 0.9;
  }
}
