.form {
  &__fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 12px;

    &--user {
      margin-bottom: 46px;
    }
  }

  &__label {
    flex: 1 1 310px;
  }

  &__text {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;

    &--checkbox {
      display: inline;
    }
  }

  &__input {
    width: 100%;
    height: 46px;
    background-color: $white;
    border-radius: 8px;
    border: none;
    padding: 10px 14px;
    font-weight: 300;
    color: $black;
    outline: none;

    &--checkbox {
      width: 20px;
      height: 20px;
    }

    &:focus {
      box-shadow: 0 0 10px rgba(174, 174, 182, 0.5);
    }

    &--error {
      box-shadow: 0 0 10px $error;
    }
  }

  &__wrapper-btn {
    min-height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__submit {

    display: block;
    padding: 10px 20px;
    font-weight: 400;
    background-color: #ffd600;
    border-radius: 4px;
    color: $font-color;
    font-size: 16px;

    &--request {
      align-self: flex-end;
    }
  }
}
