.main-nav {
  width: 100%;
  z-index: 100;
  background-color: $white;
  display: grid;
  gap: 10px;
  padding: 10px;


  @media (min-width: $mobile-width-only) {
    width: 100%;
    padding: 10px;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    align-self: end;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 10px;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  @media (min-width: $laptop-width) {
    padding: 10px 30px;
  }
}

.main-nav__logo {
  width: 90px;
  height: 90px;
  align-self: center;
}

.main-nav__list {
  background-color: $bg-color;
  align-items: center;
  color: $white;
  font-size: 18px;
  line-height: 22.7px;

  @media (min-width: $mobile-width-only) {
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    background-color: $white;
    gap: 10px;

    &::after {
      display: none;
    }
  }
}

.main-nav__toggle {
  @media (max-width: $mini) {
    position: absolute;
    width: 23px;
    height: 23px;
    border: none;
    top: 16px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
  }

  @media (min-width: $mobile-width-only) {
    display: none;
  }
}

@media (max-width: $mini) {
  .main-nav--closed {
    .main-nav__list {
      display: none;
    }

    .main-nav__toggle {
      background: url("../img/icon-menu.svg") center no-repeat;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  .main-nav--opened .main-nav__logo {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    background: url("../img/icon-cross.svg") center no-repeat;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav--no-js {
    .main-nav__list {
      display: block;
    }

    .main-nav__toggle {
      display: none;
    }
  }
}

.main-nav__item {
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px $box-shadow-color;
  background-color: #f9f9f9;
  border-radius: 5px;


  @media (max-width: $mini) {
    border-top: 1px solid rgba($white, 0.2);
    border-bottom: 1px solid rgba($black, 0.2);
    border-radius: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
      position: relative;
    }
  }
}

.main-nav__item:last-child {
  &::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      180deg,
      rgba($black, 0) 0%,
      rgba($black, 0.2) 100%
    );

    @media (min-width: $mobile-width-only) {
      display: none;
    }
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 10px;
  color: $black;
  text-transform: uppercase;

  &--phone {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
  }

  &--email {
    display: inline;
    text-transform: none;
  }

  @media (min-width: $mobile-width-only) {
    color: $black;
    text-transform: none;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--hover {
  position: relative;
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 5px;
  border-radius: 0;


  @media (min-width: $mobile-width-only) {
    align-self: flex-end;
    grid-area: 2 / 2 / -1 / -1;
  }

  @media (min-width: 768px) {
    grid-area: auto;
    align-self: center;
  }
}
