.page-footer {
  background-color: $white;
}

.page-footer__container {
  padding: 35px 10px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 10px;
  }
}

.page-footer__title {
  font-size: 16px;
  line-height: 25px;

  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.page-footer__item {
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--site {
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 16px;
    height: 12px;
    fill: $black;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--mail::before {
    background-image: url("../../img/mail.svg");
  }

  &--phone::before {
    background-image: url("../../img/call.svg");
  }
}
