.page-header {
  padding: 0 30px;
  position: relative;
  background-color: $white;
  min-height: 82px;
}

.page-header__logo {
  // padding-left: 30px;
  width: 90px;
  height: 56px;
  align-self: center;
}

.page-header__img {
  max-width: 100%;
  height: auto;
}
