.page-footer {
  background-color: $white;
}

.page-footer__container {
  padding: 35px 10px;
  min-height: 150px;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 10px;
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.page-footer__title {
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.page-footer__list {
  display: flex;
  flex-direction: column;
  align-items: start;

  &--site {
    @media (min-width: $tablet-width) {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
}

.page-footer__contacts {
  @media (min-width: $tablet-width) {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: end;
  }
}

.page-footer__item {
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
  position: relative;

  &--site {
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 16px;
    height: 12px;
    fill: $black;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &--mail::before {
    background-image: url("../img/mail.svg");
  }

  &--phone::before {
    background-image: url("../img/call.svg");
  }
}

.page-footer__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
