.reviews-1 {
  background-color: $bg-color;
}

.reviews-1__container {
  padding: 35px 10px;


  @media (min-width: $tablet-width) {
    padding: 35px 10px;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 10px;
  }
}

.reviews-1__title {
  margin-bottom: 20px;
}

.reviews-1__line {
  width: 195px;
  height: 3px;
  background: #1e5a32;
  margin: 23px auto;
}

// .reviews-1__wrapper {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   justify-content: center;
//   gap: 20px;

// }

.review-1__wrap {
  padding: 15px;
  background: $white;
  box-sizing: border-box;
  height: 450px;
}

.review-1__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review-1__name {
  font-size: 15px;
  text-transform: uppercase;
  margin: 20px 0;
}
