.reviews {
  background-color: $bg-color;
}

.reviews__container {
  padding: 35px 10px 90px;


  @media (min-width: $tablet-width) {
    padding: 35px 10px 90px;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 90px;
  }
}

.reviews__title {
  margin-bottom: 20px;
}
