.reviews__container {
  padding: 35px 10px;


  @media (min-width: $tablet-width) {
    padding: 35px 10px;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 10px;
  }
}

.reviews__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 20px;

  @media (min-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
