.services {
  background-color: $bg-color;
}

.services__container {
  padding: 35px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 10px 10px 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 30px;
  }
}

.services__list {
  display: grid;
  gap: 20px 30px;
  padding-left: 0;
}

.services__item {
  padding: 10px;
  box-shadow: 0 0 10px $box-shadow-color;
  border-radius: 5px;
  background: $white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  min-height: 50px;

  @media (min-width: $mobile-width-only) {
    padding: 15px 30px 15px;
    grid-template-columns: 1fr 90px;
  }
}

.services__title {
  grid-area: 1 / 1 / 2 /-1;
  font-size: 20px;
}

.services__image {
  justify-self: center;
}

.services__price {
  font-size: 18px;
  font-weight: 700;
  color: #1e5a32;
  justify-self: end;
}

.services__button {
  justify-self: center;


  @media (min-width: $tablet-width) {
    grid-area: 3 / 1 / -1 / -1;
    font-size: 18px;
    padding: 15px 20px;
  }

  @media (min-width: $laptop-width) {
    font-size: 20px;
    padding: 15px 20px;
  }
}
