// .reviews-1__swiper {
//   max-width: 1260px;
// }

.swiper-slide {
  height: 300px;
}

.swiper-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 35px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #1e5a32;
  font-size: 30px;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 10px;
  background-color: #1e5a32;
  font-size: 10px;
}
