.tariff {
  background-color: $bg-color;
}

.tariff__container {
  padding: 35px 10px;

  @media (min-width: $tablet-width) {
    padding: 10px;
  }

  @media (min-width: $laptop-width) {
    padding: 35px 30px 10px;
  }
}

.tariff__list {
  display: grid;
  gap: 30px;
  padding-top: 20px;

  @media (min-width: $mobile-width-only) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tariff__item {
  padding: 20px 30px 30px;
  box-shadow: 0 0 10px rgba(174, 174, 182, 0.5);
  border-radius: 5px;
  background: #ffffff;
  display: grid;
  gap: 10px;
  min-height: 550px;
}

.tariff__items {
  padding-left: 15px;
  list-style-type: disc;
}

.tariff__price {
  font-size: 20px;
  color: #1e5a32;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.tariff__wrap {
  align-self: flex-end;
  justify-self: center;
}

.tariff__button {
  display: block;
}
