.title {
  min-height: 180px;
  background-image: url("../img/title.jpg");
  background-color: $black;
  background-position: center;
  object-fit: contain;
}

.title__container {
  padding: 10px;

  @media (min-width: $laptop-width) {
    padding: 35px 30px 30px;
  }
}

.title__title {
  color: #ffffff;
  font-family: "Cormorant+SC", serif;
  font-weight: 500;
  font-size: 30px;
  padding: 50px 30px 20px;
  text-transform: uppercase;

  @media (min-width: $mobile-width-only) {
    font-size: 60px;
    padding-left: 0;
    padding-bottom: 30px;
  }
}

.title__title-span {
  font-size: 50px;

  @media (min-width: $mobile-width-only) {
    font-size: 80px;
  }
}

.title__desc {
  color: #ffffff;
  padding-left: 30px;
  font-size: 18px;

  @media (min-width: $mobile-width-only) {
    padding-left: 0;
    font-size: 20px;
  }
}
